// Display

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-sans-serif;
  text-align: center;
  font-size: 16px;
  color: $text;
  line-height: 1.6em;
}

// Layout

main {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

// Links

a {
  color: $secondary;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

a.active {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

a.active:hover {
  text-decoration: underline;
}

// Tailwind

.img-box__primary {
  @apply p-2 font-header bg-info text-white m-0;
}

.img-box__secondary {
  @apply p-1 uppercase bg-white text-info border-b-2 border-info;
}

.flex-header-footer {
  @apply flex flex-wrap flex-column justify-center align-items-center;
}

@media screen and (min-width: 800px) {
  .flex-header-footer {
    @apply flex flex-wrap flex-row justify-between align-items-center;
  }
}
