.hero-contact {
  background: url("../images/contacte.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
