@use "sass:color";

$font-family-sans-serif: "Roboto", "sans-serif";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-logo: "Monoton", cursive;

$principal: #f53b46;
$fons-fosc: rgba(69, 141, 209, 0.5);
$fons-clar: color.adjust($fons-fosc, $lightness: 25%);
// $fons-clar: rgba(69, 141, 209, 0.2);
$text: #1f1f11;
$text-clar: #666;

$theme-colors: (
  "primary": #fabada // pon el código de color que prefieras,
);
