@use "sass:color";

$font-family-sans-serif: "Roboto", "sans-serif";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-family-logo: "Monoton", cursive;
$font-family-header: "Major Mono Display", monospace;

$principal: darkgoldenrod;
$secondary: #d90602;
$background-dark: rgba(13, 17, 20, 0.5);
$background-light: color.adjust($background-dark, $lightness: 75%);

$text: #1f1f11;
$text-clar: #666;

/* Bootstrap */

$info: $principal;

$link-color: $secondary;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: line-through !default;
